html{
	background-color: #252929 !important;
	height:100%;
	overflow: hidden !important;
}
body{
	overflow: hidden !important;
	height: 100%;
}
/*FONT FAMILIES*/
@font-face{
	font-family:'Mohave';
	src:url('./fonts/Mohave.otf');
}
/*TOP BAR*/

#react-container{
	background-color: #252929 !important;
	font-family:'Mohave';
	color:#C2524E;
	border-bottom: 3px solid #C2524E;
	height:211px;
}
#info{
	overflow: hidden;
	opacity: 1;
}
#dn{
	margin-right: 5px !important;
}
#dot-in-water{
	opacity: 0;
	display: block;
}
#amphibious{
	margin-top: -114px;
}
#land{
	margin-top:-72px;
}
#time{
	display: inline;
    font-size: 8.5rem;
    margin-bottom: -20px;
    color: #BEC2C2;
    margin-top: 0px;
}
#time-zone{
	font-size:2.1rem;

}
.time-bg{
	background-color: #181B1B;
	border-radius: 3px;
	border:1px solid #C2524E;
	margin:2px;
}
#date{
	font-size: 3rem;
}
#header{
    position: fixed;
    left: 45px;
    top:0px;
    font-size: 3rem;
    display: inline;

}
#logo{
    width: 46px;
    left: 10px;
    top: 1.5%;
    position: fixed;
}
#expand{
	position: fixed;
    top: 170px;
    right: 15px;
    transform: scale(1.5);
}
#small-town{
	font-size: 1.5rem;
    margin-top: -39px;
    padding:0px;
    opacity: 1;
    color:#D7D9D9;
}
#toggle{
	display: block;
    position: fixed;
    top: 6%;
    right:30px;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 99;
}
#toggle-label{
	font-size: 2rem;
}
#image-center{
    width: 122px;
    height: 36px;
    position: fixed;
    top: 2%;
    left: 1%;
    z-index: 99;
}
#fullscreen-toggle{
	position: fixed;
	top: 185px;
	left: 25px;
	transform: scale(1.4);
	cursor: pointer;
}
@media screen and (min-width:768px){
	#react-container{
		height: 130px;
	}
	#time{
		display: inline;
	    font-size: 6.5rem;
	    margin-bottom: -4px;
	    color: #BEC2C2;
	    margin-top: -63px;
	    vertical-align: center;
	}
	#time-zone{
		margin-top: 2px;
	}
	#expand{
		top:75px;
	}
	#small-town{
		font-size: 2rem;
		margin-top: -41px;
	}
	#toggle{
		top: 6%;
    	right: 30px;
    	margin-top: 0px;
	}
	#fullscreen-toggle{
		position: fixed;
    	top: 105px;
    	left: 25px;
    	transform: scale(1.4);
	}

}
@media screen and (max-width:414px){
	#react-container{
		height: 200px;
	}
	#time{
		display: inline;
	    font-size: 5.5rem;
	    margin-bottom: -20px;
	    color: #BEC2C2;
	    margin-top: 16px;	
	}
	#date{
		font-size: 2.5rem;
    	margin-top: 21px;
	}
	#time-zone{
		margin-top: 18px;
	}
	#expand{
		top:75px;
	}
	#header{
		
		font-size: 2rem;
	}
	#logo{
		width: 40px;
	}
	#small-town{
		font-size: 1.5rem;
	}
	#fullscreen-toggle{
		position: fixed;
	    top: 175px;
	    left: 6px;
	    transform: scale(1.4);
	}	

}
@media screen and (max-width:360px){
	#time-zone{
		font-size: 2rem;
	}
	#time{
		margin-top: 0px;
	}
	#toggle{
		margin-top: 14px;  
	}

}



