html{
	background-color: #252929 !important;
	height:100%;
	overflow: hidden !important;
}
body{
	overflow: hidden !important;
	height: 100%;
}
/*FONT FAMILIES*/
@font-face{
	font-family:'Mohave';
	src:url('./fonts/Mohave.otf');
}
/*TOP BAR*/

#react-container{
	background-color: #252929 !important;
	font-family:'Mohave';
	color:#C2524E;
	border-bottom: 3px solid #C2524E;
	height:211px;
}
#info{
	overflow: hidden;
	opacity: 1;
}
#dn{
	margin-right: 5px !important;
}
#dot-in-water{
	opacity: 0;
	display: block;
}
#amphibious{
	margin-top: -114px;
}
#land{
	margin-top:-72px;
}
#time{
	display: inline;
    font-size: 8.5rem;
    margin-bottom: -20px;
    color: #BEC2C2;
    margin-top: 0px;
}
#time-zone{
	font-size:2.1rem;

}
.time-bg{
	background-color: #181B1B;
	border-radius: 3px;
	border:1px solid #C2524E;
	margin:2px;
}
#date{
	font-size: 3rem;
}
#header{
    position: fixed;
    left: 45px;
    top:0px;
    font-size: 3rem;
    display: inline;

}
#logo{
    width: 46px;
    left: 10px;
    top: 1.5%;
    position: fixed;
}
#small-town{
	font-size: 1.5rem;
    margin-top: -39px;
    padding:0px;
    opacity: 1;
    color:#D7D9D9;
}
#toggle{
	display: block;
    position: fixed;
    top: 6%;
    right:30px;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 99;
}
#toggle-label{
	font-size: 2rem;
}
#image-center{
    width: 122px;
    height: 36px;
    position: fixed;
    top: 2%;
    left: 1%;
    cursor: pointer;
    z-index: 999;
}
#fullscreen-toggle{
	position: fixed;
	top: 185px;
	left: 25px;
	transform: scale(1.8);
	cursor: pointer;
}
#fullscreen-wrapper{
	width:120px;
	height:120px;
	position: fixed;

}
#about{
	position: fixed;
	left:47%;
	top:95%;
	white-space: nowrap;
	opacity: 0;
}
#username{
	color:#FFF;
	font-weight: 300;
	text-decoration: underline;

}
#username:hover{
	color:#C2524E;
}
#madeby{
	position: fixed;
	top:93%;
	left:45.5%;
	font-size:2rem;
}
#twitter{
    background-image: url('./images/twitter-512.png');
    width: 32px;
    height: 32px;
    z-index: 100;
    position: fixed;
    left: 48%;
    top: 96%;
    object-fit: fill;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    color:#1C2020;
    cursor: pointer;
    transition: .2s;
}
#twitter:hover{
	background-image: url('./images/twitter-red.png');
}
#github{
    background-image: url('./images/github.png');
    width: 48px;
    height: 48px;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 95%;
    object-fit: fill;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    color:#1C2020;
    cursor: pointer;
    transition: .2s;
}
#github:hover{
	background-image: url('./images/github-red.png');
}
@media screen and (min-width:768px){
	#react-container{
		height: 130px;
	}
	#time{
		display: inline;
	    font-size: 6.5rem;
	    margin-bottom: -4px;
	    color: #BEC2C2;
	    margin-top: -55px;
	    vertical-align: center;
	}
	#time-zone{
		margin-top: 2px;
	}
	#expand{
		top:75px;
	}
	#small-town{
		font-size: 2rem;
		margin-top: -41px;
	}
	#toggle{
		top: 6%;
    	right: 30px;
    	margin-top: 0px;
	}
	#fullscreen-toggle{
		position: fixed;
    	top: 105px;
    	left: 25px;
    	transform: scale(1.8);
	}

}
@media screen and (width:1024px){
	#madeby{
		top:91%;
    	left:43.5%;
	}
	#twitter{
		top:95%;
		left:48%;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	#github{
		top:93.5%;
		left:52%;
		margin-bottom: 5px;
		margin-top: 5px;
	}

}
@media screen and (width:1024px) and (orientation:landscape){
	#about{
		left:44%;
	}

}
@media screen and (width:768px){
	#madeby{
		top:93%;
    	left:40.5%;
	}
	#twitter{
		top:96%;
		left:46%;
	}
	#github{
		top:95%;
		left:52%;
	}

}
@media screen and (max-width:414px){
	#react-container{
		height: 200px;
	}
	#time{
		display: inline;
	    font-size: 5.5rem;
	    margin-bottom: -20px;
	    color: #BEC2C2;
	    margin-top: 16px;	
	}
	#date{
		font-size: 2.5rem;
    	margin-top: 21px;
	}
	#time-zone{
		margin-top: 18px;
	}
	#expand{
		top:75px;
	}
	#header{
		
		font-size: 2rem;
	}
	#logo{
		width: 40px;
	}
	#small-town{
		font-size: 1.5rem;
	}
	#fullscreen-toggle{
		position: fixed;
	    top: 175px;
	    left: 6px;
	    transform: scale(1.8);
	}	
	#madeby{
		top:90%;
    	left:28.5%;
	}
	#twitter{
		top:94%;
		left:38%;
	}
	#github{
		top:92.7%;
		left:48%;
	}

}
@media screen and (max-width:360px){
	#time-zone{
		font-size: 2rem;
	}
	#time{
		margin-top: 0px;
	}
	#toggle{
		margin-top: 14px;  
	}
	#madeby{
		top:90%;
    	left:28.5%;
	}
	#twitter{
		top:94%;
		left:41%;
	}
	#github{
		top:92.75%;
		left:53%;
	}

}
@media screen and (max-width:320px){
	#madeby{
		top:90%;
    	left:28.5%;
	}
	#twitter{
		top:94%;
		left:41%;
	}
	#github{
		top:92.75%;
		left:53%;
	}

}

@media (orientation:landscape){
	#toggle{
		margin-top: 10px;
	}
}



